<?xml version="1.0"?>
<launch>
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find f110_pure_pursuit)/launch/pure_pursuit.rviz" output="screen" />
    <!-- Listen to messages from joysicks -->
    <node pkg="joy" name="joy_node" type="joy_node"/>
    <!-- Launch a map from the maps folder-->
    <arg name="map" default="$(find racecar_simulator)/maps/levine.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

    <!-- Launch the racecar model -->
    <include file="$(find racecar_simulator)/launch/racecar_model.launch"/>

    <!-- Begin the simulator with the parameters from params.yaml -->
    <node pkg="racecar_simulator" name="racecar_simulator" type="simulator" output="screen">
    <rosparam command="load" file="$(find racecar_simulator)/params.yaml"/>
    </node>

    <!-- launch pure pursuit -->
    <group ns="pure_pursuit">
        <rosparam command="load" file="$(find f110_pure_pursuit)/pure_pursuit_params.yaml" />
        <node pkg="f110_pure_pursuit" name="pure_pursuit" type="f110_pure_pursuit_node" output="screen" />
        <node pkg="f110_pure_pursuit" name="pure_pursuit_viz" type="f110_pure_pursuit_viz_node" output="screen" />
    </group>


</launch>
